# I have excluded these from my repo because they are not directely modifiyed by me.
# These files can also be massive.

__pycache__
.idea
venv
*.db
tokens.py
_tokens.py
*.pyc
*.pyo
.vscode
*.bat
node_modules
package-lock.json
package.json
*.o
