# I have excluded these from my repo because they are not directely modifiyed by me.
# These files can also be massive.

__pycache__
.idea
venv
*.db
*.pyc
*.pyo
*.o
vars.ini
*.save
*.swp
.mypy_cache
*.sqlite
*.sqlite3
.env
web
