<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBC about</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div id="app">
        <div id="content">
            <div class="container">
                <div id="top">
                    <%- include("navbar"); -%> 
                </div>
                <br>
                <div id="middle">
                </div>
                <div id="bottom">
                    <%- include("footer"); %> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>
