<!--footer with bootstrap--->
<footer class="mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">&copy; 2020 DBC</p>
            </div>
        </div>
    </div>
</footer>
