<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>byter</title>
</head>
<body>
    <div id="root">
        <ul id="navbar">
            <li><a href="/" class="link"><h1>byter</h1></a></li>
            <li><a href="/about/" class="link"><h1>about</h1></a></li>
            <li><a href="" class="link"><h1>commands</h1></a></li>
            <li><a href="" class="link"><h1>changelog</h1></a></li>
            <li><a href="" class="link"><h1>plugins</h1></a></li>
            <li><a href="" class="link"><h1>login</h1></a></li>
        </ul>
    </div>
    <style>
        h1 {
            padding-left: 1rem;
            font-size: 2.5rem;
            margin-top: 0;
            margin-bottom: 0;
            color: #ffff;
            text-align:justify;
            display: inline;
        }

        h1:hover {
            color: #07bc0c;
        }

        li {
            list-style-type: none;
            display: inline;
        }

        ul {
            padding-top: 1rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
        }

        a {
            color: #fff;
            cursor: default;
            text-decoration: none;
        }


        #navbar {
            padding-left: 0;
            background-color: #242121;
        }

        .link {
            cursor: pointer;
        }

        .link:hover {
        }
    </style>
</body>
</html>
